/* minor CSS reset */
/* You should not need to change anything here */
html,
body,
div,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* ADD CSS BELOW */

body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

h1,
h2 {
  text-align: center;
  
}

h1 {
  font-size: 4em;
  margin-top: 20px;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.col {
  border: dashed 2px;
  background-color: rgb(204, 202, 202); 
  padding: 40px 20px 20px 20px;
  margin: 40px;
  border-color: grey;

}

.image {
  height: 190px;
}
